.root {
  max-height: 100vh;
  overflow: auto;
}

body {
  margin: 2vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(to bottom right, #121d2b, #243a56);
  font-family: 'Lato', sans-serif;
  color: #fffafb;
}

.home, .order {
  margin-left: 2vh;
  color: #04724d;
}

.search, .icon{
  color: #fffafb;
  margin: 1vh 2vh 0 2vh;
}

.top-bar {
  display: flex;
  margin: 0 2vh 0 2vh;
  justify-content: space-between;
  color:#04724d;
  max-height: 7vh;
}

.card {
  position: relative;
}

.item-enter {
  background-color: #fffafb;
  color: #121d2b;
  margin: 2vh;
  box-shadow: 0 4px 8px 0 rgba(255,255,255,0.2) inset;
}

.item-sku {
  font-style: oblique;
}

.item-width {
  min-width: 70vh;
}

.list {
  width: 95vh;
  min-height: 68vh;
}

.pay-button {
  background-color: #04724d;
  border: none;
  color:#fffafb;
  text-align: center;
  padding: 7px 30px;
}

.order-form {
  margin-left: 2vh;
  color: #fffafb;
}

table, th {
  border: 1px solid #04724d;
}

th {
  background-color: #86bbd8;
  color: #243a56;
}

.vendors {
  margin: 2vh;
  text-decoration: none;
}

.vendor-card, .product-card {
  display: flex;
  background-color: #fffafb;
  color:#243a56;
  max-width: 30vh;
  border-radius: 5px;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  text-align: center;
}

.info-wrapper > p {
  margin: 2vh;
  color: #04724d;
}

.button-container {
  display: flex;
  justify-content: center;
}

input {
  font-family: 'Lato', sans-serif;
  width: 95%;
  padding: 12px;
  margin: 8px;
  display: inline-block;
  border: 1px solid #fffafb;
  border-radius: 5px;
  box-sizing: border-box;
}

.smaller-button {
  width: 5vh !important;
}

button {
  display: grid;
  font-family: 'Lato', sans-serif;
  width: 20vh;
  background-color: #04724d;
  color: #fffafb;
  padding: 14px 20px;
  margin: 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  font-size: medium;
}

.container-grid {
  padding: 2em 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 320px);
  grid-gap: 1em;
  justify-content: center;
  align-items: center;
}

.delete-button {
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.in-stock {
  text-align: center;
  color:#86bbd8
}

.center-this {
  text-align: center;
}

.menubar {
  width: 35px;
  height: 5px;
  color: #fffafb;
  margin: 6px 0
}

.navbar {
  position: relative;
  display: inline-block
}

.container {
  color: #fffafb;
  border: none;
}

.dropdown {
  display: none;
  position: absolute;
  right: 0;
  background-color: #243a56;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  color: #fffafb
}

.dropdown a {
  color: #fffafb;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  color: #121d2b;
  background-color: #86bbd8;
}

.navbar:hover {
  background-color: #04724d;
}

.container:hover .dropdown {
  display: block;
}

.cursor-pointer{
  cursor: pointer;
}

.selected-button {
  background-color:#86bbd8
}

.form-section {
  display: flex;
  align-items: center;
}

.radio-group, .checkbox-group {
  display: flex;
  align-items: center;
}

.radio-group label, .checkbox-group label {
  margin-right: 1rem;
}

.transaction-poster {
  display: flex;
  background-color: #fffafb;
  color:#121d2b;
  max-width: 30vh;
  border-radius: 5px;
  flex-direction: column;
  justify-content: space-around;
  align-content: left;
}

.order-number {
  color:#04724d;
  font-weight: 500;
}

.payment-buttons-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: left;
}