body {
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(to bottom right, #121d2b, #243a56);
  font-family: 'Lato', sans-serif;
}

.home {
  margin-left: 2vh;
  color: #04724d;
  column-count: 2;
}

.search,  .icon{
  color: #fffafb;
  margin: 1vh 2vh 0 2vh;
}

.top-bar {
  display: flex;
  justify-content: space-between;
}